.task {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 500px;
    min-height: 50px;
    background-color: #c5c5c5;
}

.task:first-child {
    margin-top: -20px;
}

.completed {
    background-color: #87d28e;
}

.text {
    width: 350px;
    word-break: break-all;
}

.buttons input {
    width: 25px;
    height: 25px;
    margin: auto 20px auto auto;
}

.buttons button {
    width: 75px;
    height: 25px;
    background-color: #d98282;
    margin-right: 20px;
}

.line-through {
    text-decoration: line-through;
}

.buttons {
    display: flex;
    height: 25px
}


.list {
    margin-bottom: 20px;
    flex-direction: row;
}

.beautify {
    display: flex;
    margin: auto;
    width: 500px;
    height: 50px;
    background-color: #c5c5c5;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sorts i {
    margin-left: 20px;
}

.none {
    position: absolute;
    height: 50px;
}

form {
    position: static;
    height: 50px;
}

@media screen and (min-device-width: 1920px) {
    .task {
        width: 700px;
        min-height: 90px;
        margin-top: 40px;
        font-size: 30px;
    }

    .task:nth-child(n+2) {
        margin-top: 0;
    }

    .buttons input {
        width: 40px;
        height: 40px;
        margin: auto 40px auto auto;
    }

    .buttons button {
        width: 120px;
        height: 40px;
        margin-right: 40px;
        font-size: 25px;

    }

    .text {
        width: 440px;
        font-size: 30px;
    }

    .buttons {
        display: flex;
        height: 40px
    }
    .none {
        position: absolute;
        height: 90px;
        width: 200px;
        font-size: 30px;
    }
    .beautify {
        width: 700px;
        height: 90px;
        background-color: #c5c5c5;
        margin-top:40px;
    }
    .fas {
        font-size: 1.833em;
    }
    .far {
        font-size: 1.833em;
    }
}

@media screen and (min-device-width: 880px) and (max-device-width: 1180px) {
    .task {
        width: 500px;
        min-height: 90px;
        margin-top: 40px;
        font-size: 30px;
    }

    .task:nth-child(n+2) {
        margin-top: 0;
    }

    .buttons input {
        width: 40px;
        height: 40px;
        margin: auto 40px auto auto;
    }

    .buttons button {
        width: 120px;
        height: 40px;
        margin-right: 40px;
        font-size: 25px;

    }

    .text {
        width: 250px;
        font-size: 30px;
    }

    .buttons {
        display: flex;
        height: 40px
    }
    .none {
        position: absolute;
        height: 90px;
        width: 200px;
        font-size: 30px;
    }
    .beautify {
        width: 500px;
        height: 90px;
        background-color: #c5c5c5;
        margin-top:40px;
    }
    .fas {
        font-size: 1.533em;
    }
    .far {
        font-size: 1.533em;
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 880px) {
    .task {
        width: 600px;
        min-height: 90px;
        margin-top: 40px;
        font-size: 30px;
    }

    .task:nth-child(n+2) {
        margin-top: 0;
    }

    .buttons input {
        width: 40px;
        height: 40px;
        margin: auto 40px auto auto;
    }

    .buttons button {
        width: 120px;
        height: 40px;
        margin-right: 40px;
        font-size: 25px;

    }

    .text {
        width: 340px;
        font-size: 30px;
    }

    .buttons {
        display: flex;
        height: 40px
    }
    .none {
        position: absolute;
        height: 90px;
        width: 180px;
        font-size: 30px;
    }
    .beautify {
        width: 600px;
        height: 90px;
        background-color: #c5c5c5;
        margin-top:40px;
    }
    .fas {
        font-size: 1.533em;
    }
    .far {
        font-size: 1.533em;
    }
}

@media screen and (max-device-width: 480px) {
    .task {
        width: 700px;
        min-height: 90px;
        margin-top: 40px;
        font-size: 30px;
    }

    .task:nth-child(n+2) {
        margin-top: 0;
    }

    .buttons input {
        width: 40px;
        height: 40px;
        margin: auto 40px auto auto;
    }

    .buttons button {
        width: 120px;
        height: 40px;
        margin-right: 40px;
        font-size: 25px;

    }

    .text {
        width: 440px;
        font-size: 30px;
    }

    .buttons {
        display: flex;
        height: 40px
    }
    .none {
        position: absolute;
        height: 90px;
        width: 100px;
        font-size: 30px;
        word-break: break-all;
    }
    .beautify {
        width: 700px;
        height: 90px;
        background-color: #c5c5c5;
        margin-top:40px;
    }
    .fas {
        font-size: 1.533em;
    }
    .far {
        font-size: 1.533em;
    }
}

.lookup {
    background-color: #a9a7dc;
}